/*Stylesheet

version:   1.0
date:      07/01/15
author:    Stephen John Ellis
email:     stephenjohnellis@gmail.com
website:   stephenjohnellis.org
*/

/*
Colors:
Gray - #C9C9C9
lightGray - #e3e3e3
lightBlue - #9AD3DE
Blue - #89BDD3
Orange - #E9862F
*/

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-family: 'PT Sans', sans-serif;
}

{
    margin: 0;
    padding: 0;
    border: 0;
}

.clear {
    clear:both;
}

.right {
    float: right;
}

.left {
    float: left;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Sans', sans-serif;
    background-color: #F2EDD7;
    text-align:center;
    padding-top: 80px;
}

h1
    {
    font-size: 2.2em;
}

h2
    {
    font-size: 2.0em;
}

h3
    {
    font-size: 1.8em;
}

h4
    {
    font-size: 1.6em;
}

h5
    {
    font-size: 1.4em;
}

#logo {
  height: 35px;
  margin-top: -0.4em;
}

#map-canvas {
       width: 100%;
       height: 400px;
       background-color: #CCC;
}

.top-buffer {
  margin-top: 40px;
}

.bot-buffer {
  padding-bottom: 20px;
}
